/* --------------------------------------------------------------------
                        Skeleton Resource File
                              Chapter 2

                    Real World Programming for OS/2
             Copyright (c) 1993 Blain, Delimon, and English
-------------------------------------------------------------------- */

#include <os2.h>
#include "skeleton.h"

ICON ID_APPNAME SKELETON.ICO

STRINGTABLE LOADONCALL MOVEABLE
BEGIN
    ID_APPNAME      "Skeleton Application"
END

MENU ID_APPNAME
{
    MENUITEM "~About", IDM_ABOUT
}

rcinclude ..\common\about.dlg

